.env

instance/

__pycache__/
*.py[cod]
*$py.class

venv/

.*.swp

.coverage

*.egg-info/

.aider*

cmoocenv

.DS_Store

# SSL/TLS Certificates
*.pem
*.key
*.crt
*.csr
*.cert
ssl/

# Data from mooc stuff
2023**

api_requests_notebook.ipynb